.error {
   width: 155px;
   height: 35px;
   background-color: #cd1515;
   position: absolute;
   left: 55px;
   bottom: -36px;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
   align-items: center;
   justify-content: center;
}