.menu__list {
   display: flex;

   @include tablets {
      flex-wrap: wrap;
   }
}

.menu__item {
   margin-right: 60px;

   @include tablets {
      margin-bottom: 20px;

      &:nth-child(n+4) {
         margin-bottom: 0;
      }
   }

   &:last-child {
      margin-right: 0;
   }
}

.menu__link {
   text-decoration: none;
   opacity: .8;

   &:hover {
      text-shadow: -0.06px 0 #ffffff, 0.06px 0 #ffffff;
      transition: text-shadow 1s;
   }
}