.menu__list {
   display: flex;
}

.menu__item {
   margin-right: 60px;

   &:last-child {
      margin-right: 0;
   }
}

.menu__link {
   text-decoration: none;
   opacity: .8;

   &:hover {
      text-shadow: -0.06px 0 #ffffff, 0.06px 0 #ffffff;
      transition: text-shadow 1s;
   }
}