.previews {
   display: flex;
   position: absolute;
   right: 0;
   bottom: 55px;

   @include desktop {
      bottom: 30px;
   }
}

.previews__item {
   &--active .previews__pic{
      border: 2px solid #dc9322;
   }
}

.previews__pic {
   width: 100%;
   height: 100px;
}