.scroll__down {
   display: flex;
   align-items: center;
   font-size: 18px;
   text-decoration: none;

   @include desktop {
      opacity: .6;
   }

   @include phones {
      display: none;
   }
}

.scroll__icon {
   width: 20px;
   height: 22px;
   fill: #ffffff;
}