.section-bg {
  height: 150vh;

  @include tablets {
    height: 200vh;
    background: url('../images/content/background.png') top center no-repeat;
  }

  @include phonesSE {
    height: 300vh;
  }
}
