section {
  padding: 10% 0;
}

.section-bg {
  height: 200vh;

  @include tablets {
    background: url('../images/content/background.jpg') top center no-repeat;
  }

  @include phones {
    height: 250vh;
  }

  @include phonesX {
    height: 200vh;
  }

  @include phonesSE {
    height: 250vh;
  }
}
