.tags {
   display: flex;

   @include tablets {
      justify-content: center;
   }
}

.tags__item {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 4% 8%;
   background-color: #f3f5f9;
   margin-right: 10px;
   border-radius: 30px;
   font-size: 15px;
   font-weight: 600;
   opacity: 0.7;

   &:last-child {
      margin-right: 0;
   }
}
