.user-info {
   display: flex;
   width: 40%;
}

.user-info__title {
   font-size: 72px;
   font-weight: 800;
   line-height: 60px;
}

.user-info__subtitle {
   margin-right: 30px;
   text-align: right;
   font-size: 18px;
   font-weight: 200;
   opacity: 0.4;
   line-height: 30px;
   white-space: pre-wrap;
} 


   
