

.user-skills {
   padding: 0 2% 0 12%;
   max-width: 900px;

   
   @include tablets {
      padding: 0;
      text-align: center;
      width: 90%;
   }

   @include phones {
      width: 100%;
   }
}