.welcome__header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 2%;
}

.welcome__logo {
   text-transform: uppercase;
   font-size: 36px;
   font-weight: 800;
}

.welcome__content {
   flex: .8;
   display: flex;
   justify-content: center;
   align-items: center;
}

.welcome__btn {
   display: flex;
   align-items: center;
   justify-content: center;
}

