script(type="text/x-template")#skills-list
   ul.skills
      li.skills__item(v-for="skill in skills" :key="skill.skillsGroup")
         skills-row(
            :skill="skill"
         )

script(type="text/x-template")#skills-row
   .skills-row
      .skills-row__title {{skill.skillsGroup}}
      ul.skills-row__list
         li.skills-row__item(v-for="(skillPercent, skillName) in skill.skills")
            skill(
               :skill-name="skillName"
               :skill-percent="skillPercent"
            )

script(type="text/x-template")#skill
   .skill
      svg(viewBox='0 0 100 100' preserveAspectRatio='none').skill__shape
         circle(r='42' cx='50' cy='50').skill__circle.skill__circle--position--under
         circle(r='42' cx='50' cy='50' ref="color-circle").skill__circle.skill__circle--position--above
      .skill__title {{skillName}}